* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: row;
}

main {
    border-right: 1px solid black;
    height: 100vh;
    min-width: 70%;
}

aside {
    width: 100%;
    height: 100%;
    margin: 10px;
}

.aside-container {
    width: 100%;
}

aside label[for="search-input"] {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

.artist-search-result {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

.add-button {
    padding: 0.3rem 1rem;
    display: inline-block;
}

.artist-list-item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
}

.artist-list-item p {
    text-transform: uppercase;
    margin-right: 5rem;
}

